<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<import resource="classpath:daoContext.xml"/>

	<import resource="classpath:cacheContext.xml"/>

	<import resource="classpath:serviceContext.xml"/>

	<import resource="classpath:facadeContext.xml"/>

	<bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:db\Catalog;CIPHER=AES;TRACE_LEVEL_FILE=4"/>
		<property name="user" value="Lavina"/>
		<property name="password" value="stargate stargate"/>
	</bean>

</beans>